body{
    background-color: rgb(25,25,25);
    color: aliceblue;
}
.move-icon{
    height: 140px;

}
.item-move{
    
    border:3px solid white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 100px;
    text-align: center;
    cursor: pointer;
    
}
.result{
    
    font-size: 35px;
    font-weight: bold;
    margin-top:50px;
}
.spam{
    width:100px;
    border:2px solid white;
    height:100px;
    border-radius:50px;
    margin-right:30px
}
.hed{
    margin: auto;
    width: 90%;
    padding: 10px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.mid{
    
        width: 200px;
        padding: 15px;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border:2px solid #009688;
        background: transparent;
        color: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
}
span{
    
        background: #009688;
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -3;
        transition: 0.2s;
    
}
.mid:hover span{
    width: 100%;

}